/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#placeOrder,#updateOrder,#payOrder {
	-fx-background-color: a6a8a8;
	-fx-text-fill: white;
}

#placeOrder:hover, #updateOrder:hover, #payOrder:hover {
	-fx-background-color:  #1d1d1d ;
}

#back {
    -fx-background-color:#f0f8ff;
}